/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
:root
  --color-link #1c73c6
  --color-primary #1c73c6

h1
  margin-bottom 2rem!important

.home .hero img
  max-width 450px!important

.links__item
  display inline!important
  padding 1rem!important

.links__item__icon
  display none!important

.links__item__title
  font-size 1rem!important
  line-height 1.25rem!important

.search__container
  padding-top 0rem!important
  margin-top 1rem!important

.roadmap p
  margin-top 0rem!important
  margin-bottom 0rem!important

.roadmap ul
  list-style none!important
  margin-top 0rem!important
  margin-bottom 0rem!important

.roadmap li
  margin-bottom 0rem!important

.layout__main__gutter div .links
  display none!important
